Django>=3.1
channels
channels_redis
django-registration-redux
django-extensions
drf-access-policy
django-cors-headers
django-filter
django-taggit
djangorestframework
drf-access-policy
psycopg2
pytest-django
pytest-asyncio
django-guardian
django-avatar
python-slugify

s3fs
boto3
django-storages
graphene-django


zarr
numcodecs
xarray

# Bergen
django-health-check
django-channels-graphql-ws
arkitekt>=0.1.84


# JWT
lok>=0.1.12

# GraphQL abstaction
balder[subscription]>=0.1.14

# Testing and Linting
ptvsd
pytest-django 
pytest-asyncio
pylint
pylint-django
psutil


pyarrow
pandas

pydantic
colorlog
namegenerator
pyjwt

#Health Check
redis

# DeployMent
omegaconf
gunicorn
django-probes