Django>=3.1
channels>=2.4.0
channels_redis
django-registration-redux
django-extensions
drf-access-policy
django-cors-headers
django-filter
django-taggit
djangorestframework
drf-access-policy
psycopg2
pytest-django
pytest-asyncio
django-guardian
django-avatar
python-slugify


s3fs==0.6.0
boto3
django-storages
graphene-django


zarr
dask[complete]>
numcodecs
xarray

# Bergen
django-health-check
django-channels-graphql-ws
arkitekt

# JWT
lok>=0.1.7

# GraphQL abstaction
balder>=0.1.6

# Testing and Linting
ptvsd
pytest-django 
pytest-asyncio
pylint
pylint-django

pydantic
colorlog
namegenerator
pyjwt

#Health Check
redis

# DeployMent
omegaconf
gunicorn
django-probes