{% extends "base.html" %}

{% block title %}mikro{% endblock %}
{% block header_text %}mikro{% endblock %}
{% load static %}
{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">mikro</h3>
          <nav class="nav nav-masthead justify-content-center">
            {% if user.is_superuser %}
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            {% endif %}
            <a class="nav-link" href="{% url 'graphql' %}">GraphQL</a>
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="nav-link" href="{% url 'login' %}?next={% url 'index' %}">Login</a>
            {% endif %}
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <div class="img-wrap">
          <img src="{% static 'img/data.png' %}">
        </div>
          
          <br/>
          <h1 class="cover-heading"><p>mikro</p> </h1>
        <p class="lead">mikro is a Dataserver for the Arnheim Framework. We love Schemas and Streams.<br/> Checkout our cool GraphQL</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p><a href="https://github.com/jhnnsrs/mikro">mikro</a>, by <a href="https://github.com/jhnnsrs">@jhnnsrs</a>.</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
{% endblock %}
